<!-- <p>footer works!</p> -->

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Our mission is to make travel simple and accessible to everyone. We believe in the power of travel to connect people and transform lives.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>123 Travel Street, Adventure City, 50000</p>
                <p>Email: info@travelwebsite.com</p>
                <p>Phone: +1 234 567 890</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">© 2024 Travel Website. All rights reserved.</p>
            </div>
        </div>
    </div>


