<!-- <p>filter works!</p> -->
<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="all"  [(ngModel)]="selectedFilterRadioButton"/>
    <span>All{{'('+all+')'}}</span>

    <input type="radio" name="filter" value="true" [(ngModel)]="selectedFilterRadioButton"/>
    <span>Most Booked{{'('+mostBooked+')'}}</span>

    <input type="radio" name="filter" value="false" [(ngModel)]="selectedFilterRadioButton"/>
    <span>Heighest Rated{{'('+heighestRated+')'}}</span>
</div>